.done-bill{
    background-color: #ff8fa3;

}

.alert-div{
    bottom: 0;
    position: absolute;
    display: initial;
    width: 80%;
}
.user-info{
    margin-top: 20px;
}
.button-add-bill{
    background-color: #219ebc;
}
.button-req{
    background-color: #ffb703;
}
.button-logout{
    background-color: #fb8500;
}