
.done-bill{
    background-color: #ff8fa3;

}

.alert-div{
    bottom: 0;
    position: absolute;
    display: initial;
    width: 80%;
}
.user-info{
    margin-top: 20px;
}
.button-add-bill{
    background-color: #219ebc;
}
.button-req{
    background-color: #caf0f8;
    margin-right: 10px;
}
.button-logout{
    background-color: #023e8a;
    color: white;
}
.button-add{
    margin-top: 10px;
}