.input-search{
    margin: auto;
    width: 50%;
    height: 100%;
    padding-top: 300px;
}
.search-button{
    margin: auto;
}
.validator-acc{
    margin: auto;
    width: 50%;
    height: 100%;
    padding-top: 300px;
}